{% extends 'base.html' %} {% block content %}
<style>
  #margin_top {
    margin-top: 20%;
  }

  .form-signin {
    width: 50%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
</style>

<div class="text-center" id="margin_top">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert alert-danger" role="alert">
    {% for message in messages %} {{ message }}<br />
    {% endfor %}
  </div>
  {% endif %} {% endwith %}

  <form class="form-signin" method="POST" action="/login">
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>

    <label for="login">Username or Email</label>
    <input
      type="text"
      id="login"
      name="login"
      class="form-control"
      placeholder="Username or Email"
      required
      autofocus
    />
    <br />

    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Password"
      required
    />
    <br />

    <button class="btn btn-lg btn-success btn-block px-4" type="submit">
      Log in
    </button>
    <br />
    <br />
    <h5 class="text-black">
      Don't have an account ?
      <br />
      <br />
      <span>
        <a href="signup" class="btn btn-lg btn-success px-4" type="submit">
          Register
        </a>
      </span>
    </h5>
  </form>
</div>
{% endblock %}
