{% extends 'base.html' %} {% block content %}
<style>
  #margin_top {
    margin-top: 20%;
  }

  .form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
</style>

<div class="text-center" id="margin_top">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert alert-danger" role="alert">
    {% for message in messages %} {{ message }}<br />
    {% endfor %}
  </div>
  {% endif %} {% endwith %}

  <form class="form-signup" method="POST" action="/signup">
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Email"
      required
    />
    <br />

    <label for="first_name">First Name</label>
    <input
      type="text"
      id="first_name"
      name="first_name"
      class="form-control"
      placeholder="First Name"
      required
    />
    <br />

    <label for="last_name">Last Name</label>
    <input
      type="text"
      id="last_name"
      name="last_name"
      class="form-control"
      placeholder="Last Name"
      required
    />
    <br />

    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Username"
      required
      autofocus
    />
    <br />

    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Password"
      required
    />
    <br />

    <button class="btn btn-lg btn-success btn-block" type="submit">
      Register
    </button>
  </form>
</div>
{% endblock %}
